h1{
	font-weight:normal;
	text-align:center;
	font-size:50px;
}

p {
	font-family:Arial, Helvetica, Sans-serif, "myriad.pro";
	font-size:50px;
	font-weight:60px;
	line-height:;
	text-decoration:line-height;
	text-shadow: 5px 5px 5px #E51313;
}