form{
	width:25%;
	border:1px solid:#323AE5;
	margin:20px;
	padding:20px;
}


label{
	font-size:12px;
	display:block;
	width:100%;
	
}
textarea{
	resize:both;
	max-height:300px;
	min-height:100px;
}

input,textarea{
	margin-bottom:20px;
	width:100%;
	padding:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #323AE5;
}

input:focus, textarea:focus{
	border:1px solid #323AE5;
}

input:[type="submit"]{
	margin-bottom:0;
	background:#323AE5;
	color:fff;
	border:none;
	
}

input[type="submit"]:hover{
	background:#323AE5;
	cursor:pointer;
	
}



